{% if request.user.hp_profile.hospital_profile %}


    <nav id="sidebarMenu" class="sidebar d-md-block bg-primary text-white collapse px-4">
        <div class="sidebar-sticky pt-3 mx-auto">
            <div class="user-card d-flex d-md-none align-items-center justify-content-between justify-content-md-center pb-4">
            <div class="d-flex align-items-center">
                <div class="user-avatar lg-avatar mr-4">
                    <img src="/static/assets/img/hospital_profile.jpg" class="card-img-top rounded-circle border-white" alt="Profile">
                </div>
                <div class="d-block">
                <h2 class="h6">
                    {{ request.user.username }}
                </h2>
                <a href="{% url 'hospital:logout' %}" class="btn btn-secondary text-dark btn-xs">
                    <span class="mr-2"><span class="fas fa-sign-out-alt"></span></span>Sign Out</a>
                </div>
            </div>
            <div class="collapse-close d-md-none">
                <a href="#sidebarMenu" class="fas fa-times" data-toggle="collapse"
                    data-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="true"
                    aria-label="Toggle navigation"></a>
            </div>
            </div>
            <ul class="nav flex-column">
            <li class="nav-item  {% if 'Hospital Stuff' in segment %} active {% endif %}">
                <a href="{% url 'hospital:HospitalStuff' %}" class="nav-link">
                    <span class="sidebar-icon"><span class="fas fa-box-open mr-2"></span></span>
                    <span>Hospital Stuff</span>
                </a>
            </li>
            <li class="nav-item  {% if 'hospital:hpprofile' in segment %} active {% endif %}">
                <a href="{% url 'hospital:hpprofile' %}" class="nav-link">
                    <span class="sidebar-icon"><span class="fas fa-cog"></span></span>
                    <span>Settings</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="{% url 'hospital:logout' %}" class="nav-link">
                    <span class="sidebar-icon"><span class="fas fa-sign-out-alt text-danger"></span></span>
                    <span>Logout</span>
                </a>
            </li>            
            <li role="separator" class="dropdown-divider mt-4 mb-3 border-black"></li>
            <li class="nav-item">
                <a href="/" class="nav-link d-flex align-items-center">
                <span class="sidebar-icon">
                    <img src="/static/assets/img/brand/light.svg" height="20" width="20" alt="Volt Logo">
                </span>
                <span class="mt-1">Home</span>
                </a>
            </li>
            </ul>
        </div>
    </nav>


 {% else %}
 
 
 
        <nav id="sidebarMenu" class="sidebar d-md-block bg-primary text-white collapse px-4">
                <div class="sidebar-sticky pt-3 mx-auto">
                    <div class="user-card d-flex d-md-none align-items-center justify-content-between justify-content-md-center pb-4">
                    <div class="d-flex align-items-center">
                        <div class="user-avatar lg-avatar mr-4">
                            <img src="{{ request.user.user_profile.get_image }}" class="card-img-top rounded-circle border-white" alt="profile">
                        </div>
                        <div class="d-block">
                        <h2 class="h6">
                            {{ request.user.username }}
                        </h2>
                        <a href="{% url 'logout' %}" class="btn btn-secondary text-dark btn-xs">
                            <span class="mr-2"><span class="fas fa-sign-out-alt"></span></span>Sign Out</a>
                        </div>
                    </div>
                    <div class="collapse-close d-md-none">
                        <a href="#sidebarMenu" class="fas fa-times" data-toggle="collapse"
                            data-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="true"
                            aria-label="Toggle navigation"></a>
                    </div>
                    </div>
                    <li class="nav-item  {% if 'regular' in segment %} active {% endif %}">
                        <a href="{% url 'regular' %}" class="nav-link">
                            <span class="sidebar-icon"><span class="fas fa-bed"></span></span>
                            <span>Regular Beds</span>
                        </a>
                    </li>
                    <li class="nav-item  {% if 'oxygen' in segment %} active {% endif %}">
                        <a href="{% url 'oxygen' %}" class="nav-link">
                            <span class="sidebar-icon"><span class="fas fa-bed"></span></span>
                            <span>Oxygen Beds</span>
                        </a>
                    </li>
                    <li class="nav-item  {% if 'icu' in segment %} active {% endif %}">
                        <a href="{% url 'icu' %}" class="nav-link">
                            <span class="sidebar-icon"><span class="fas fa-procedures"></span></span>
                            <span>Icu Beds</span>
                        </a>
                    </li>
                    <ul class="nav flex-column">
                    <li class="nav-item  {% if 'vaccine' in segment %} active {% endif %}">
                        <a href="{% url 'vaccine' %}" class="nav-link">
                            <span class="sidebar-icon"><span class="fas fa-syringe"></span></span>
                            <span>Vaccine Slots</span>
                        </a>
                    </li>
                        <li class="nav-item  {% if 'profile' in segment %} active {% endif %}">
                            <a href="{% url 'profile' %}" class="nav-link">
                                <span class="sidebar-icon"><span class="fas fa-cog"></span></span>
                                <span>Settings</span>
                            </a>
                        </li>
                    <li class="nav-item">
                        <a href="{% url 'logout' %}" class="nav-link">
                            <span class="sidebar-icon"><span class="fas fa-sign-out-alt text-danger"></span></span>
                            <span>Logout</span>
                        </a>
                    </li>            
                    <li role="separator" class="dropdown-divider mt-4 mb-3 border-black"></li>
                    <li class="nav-item">
                        <a href="/" class="nav-link d-flex align-items-center">
                        <span class="sidebar-icon">
                            <img src="/static/assets/img/brand/light.svg" height="20" width="20" alt="Volt Logo">
                        </span>
                        <span class="mt-1">Home</span>
                        </a>
                    </li>
                    </ul>
                </div>
        </nav>

{% endif %}